{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<p>
  <label>.:<b>: СЕЙЧАС ЧИТАЮ КНИГУ :</b>:.</label>
</p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Количество страниц</th>
      <th>Владелец</th>
      <th>Читатель</th>
      <th>Дата выдачи</th>
      <th>Срок возврата</th>
      <th>Статус</th>
      <th>Действие</th>
      <th>Продление</th>
    </tr>
  </thead>
  <tbody>
    {% for book in taken_books %}
    <tr>
      <td>{{ book.book_code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.owner }}</td>
      <td>{{ book.reader }}</td>
      <td>{{ book.dt_take }}</td>
      <td>{{ book.dt_return }}</td>
      <td>{{ book.oper_type }}</td>
      <td>
        {% if book.last_oper_id == 2 %}
        <form method="get" action="{{ url_for('unreq_take_book', book_code=book.book_code, owner=book.owner) }}"
          name="unreq_take_book" class="lk_buttons">
          <input type="submit" value="отменить запрос" />
        </form>
        {% elif book.last_oper_id == 4 %}
        <form method="get" action="{{ url_for('req_return_book', book_code=book.book_code, owner=book.owner) }}"
          name="req_return_book" class="lk_buttons">
          <input type="submit" value="вернуть книгу" />
        </form>
        {% elif book.last_oper_id == 9 %}
        <form method="get" action="{{ url_for('unreq_return_book', book_code=book.book_code, owner=book.owner) }}"
          name="unreq_return_book" class="lk_buttons">
          <input type="submit" value="отменить запрос" />
        </form>
        {% else %}
        <form method="get" action="{{ url_for('lk') }}" name="not_required">
          <input type="submit" value="не требуется" />
        </form>
        {% endif %}
      </td>
      <td>
        {% if book.last_oper_id == 4 %}
        <form method="get" action="{{ url_for('req_extend_book', book_code=book.book_code, owner=book.owner) }}"
          name="req_extend_book">
          <input type="submit" value="запросить" />
        </form>
        {% elif book.last_oper_id == 5 %}
        <form method="get" action="{{ url_for('unreq_extend_book', book_code=book.book_code, owner=book.owner) }}"
          name="unreq_extend_book">
          <input type="submit" value="отменить" />
        </form>
        {% else %}
        <form method="get" action="{{ url_for('lk') }}" name="not_required2">
          <input type="submit" value="не требуется" />
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<p>
  <label>.:<b>: МОЙ РАЗДЕЛ :</b>:.</label>
</p>

<div class="tabs">

  <input type="radio" name="inset" value="" id="tab_1" checked />
  <label for="tab_1">СОБСТВЕННЫЕ КНИГИ</label>

  <input type="radio" name="inset" value="" id="tab_2" />
  <label for="tab_2">МОИ ПОДПИСКИ</label>

  <input type="radio" name="inset" value="" id="tab_3" />
  <label for="tab_3">МОИ ОПЕРАЦИИ</label>

  <div id="tbl_1">
    <table>
      <thead>
        <tr>
          <th>Код книги</th>
          <th>Название</th>
          <th>Автор</th>
          <th>Жанр</th>
          <th>Год издания</th>
          <th>Количество страниц</th>
          <th>Регистрация книги</th>
          <!-- <th>Владелец</th> -->
          <th>Текущий читатель</th>
          <th>Дата выдачи</th>
          <th>Срок возврата</th>
          <th>Подписки</th>
          <th>Статус</th>
          <th>Действие</th>
          <th>Продление</th>
        </tr>

      </thead>
      <tbody>
        {% for book in my_books %}
        <tr>
          <td>{{ book.book_code }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.dt_reg }}</td>
          <td>{{ book.reader }}</td>
          <td>{{ book.dt_take }}</td>
          <td>{{ book.dt_return }}</td>
          <td>{{ book.active_subs_count }}</td>
          <td>{{ book.oper_type }}</td>
          <td>
            {% if book.last_oper_id == 2 %}
            <form method="get" action="{{ url_for('take_book', book_code=book.book_code, reader=book.reader) }}"
              name="take_book" class="lk_buttons">
              <input type="submit" value="выдать" />
            </form>
            {% elif book.last_oper_id == 5 %}
            <form method="get" action="{{ url_for('extend_book', book_code=book.book_code, reader=book.reader) }}"
              name="extend_book" class="lk_buttons">
              <input type="submit" value="продлить" />
            </form>
            {% elif book.last_oper_id == 9 %}
            <form method="get" action="{{ url_for('return_book', book_code=book.book_code, reader=book.reader) }}"
              name="return_book" class="lk_buttons">
              <input type="submit" value="подтвердить возврат" />
            </form>
            {% else %}
            <form method="get" action="{{ url_for('lk') }}" name="not_required3">
              <input type="submit" value="не требуется" />
            </form>
            {% endif %}
          </td>
          <td>
            {% if book.last_oper_id == 5 %}
            <form method="get" action="{{ url_for('unextend_book', book_code=book.book_code, reader=book.reader) }}"
              name="unextend_book" class="lk_buttons">
              <input type="submit" value="отказать" />
            </form>
            {% elif book.last_oper_id == 4 %}
            <form method="get" action="{{ url_for('extend_book', book_code=book.book_code, reader=book.reader) }}"
              name="extend_book2" class="lk_buttons">
              <input type="submit" value="продлить" />
            </form>
            {% else %}
            <form method="get" action="{{ url_for('lk') }}" name="not_required4">
              <input type="submit" value="не требуется" />
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="tbl_2">
    <table>
      <thead>
        <tr>
          <th>Код книги</th>
          <th>Название</th>
          <th>Автор</th>
          <th>Год издания</th>
          <th>Владелец</th>
          <th>Старт подписки</th>
          <th>Окончание подписки</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for sub in subscriptions %}
        <tr>
          <td>{{ sub.book_code }}</td>
          <td>{{ sub.title }}</td>
          <td>{{ sub.author }}</td>
          <td>{{ sub.year }}</td>
          <td>{{ sub.owner }}</td>
          <td>{{ sub.dt_new }}</td>
          <td>{{ sub.dt_close }}</td>
          <td>
            <form method="get" action="{{ url_for('unsubscribe_book', book_code=sub.book_code) }}" name="unsubscribe">
              <input type="submit" value="отписаться" />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="tbl_3">
    <table>
      <thead>
        <tr>
          <th>Код книги</th>
          <th>Название</th>
          <th>Автор</th>
          <th>Год издания</th>
          <th>Владелец книги</th>
          <th>Читатель</th>
          <th>Операция</th>
          <th>Дата и время</th>
        </tr>
      </thead>
      <tbody>
        {% for oper in book_log %}
        <tr>
          <td>{{ oper.book_code }}</td>
          <td>{{ oper.title }}</td>
          <td>{{ oper.author }}</td>
          <td>{{ oper.year }}</td>
          <td>{{ oper.owner }}</td>
          <td>{{ oper.reader }}</td>
          <td>{{ oper.oper_type }}</td>
          <td>{{ oper.dt_reg }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}